{% extends "base.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/404.css') }}">

{% endblock %}

{% block body %}

<div class="container">
  <div class="copy-container center-xy">
    <p class="text">
      404, page not found.
    </p>
    <span class="handle"></span>

  </div>
</div>


<svg version="1.1" id="cb-replay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 279.9 297.3" style="enable-background:new 0 0 279.9 297.3;" xml:space="preserve">
</svg>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/404.js') }}"></script>

{% endblock %}